html body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: green;
}
  
h2 {
  font-size: 16px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 800px;
  background-color: blue;
}

.pixel {
  display: flex;
  flex-wrap: wrap;
  background-color: red;
} 